@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-theme: #ff7143;
    --color-bg: #000000;
    --color-white: #ffffff;
    --color-text1: #fffefe;
    --color-text2: #444444;
    --color-text3: #b3b3b3;
    --color-border1: #7e7e7e;
    --color-green1: #38c751;
  }
}

body {
  font-family: "Montserrat";
  background-color: var(--color-bg);
  color: var(--color-white);
}

#orbitOne {
  -webkit-animation: spin-right 10s linear infinite;
  animation: spin-right 10s linear infinite;
}

#orbitTwo {
  -webkit-animation: spin-left 8s linear infinite;
  animation: spin-left 8s linear infinite;
}
@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
